USE [master]
GO
/****** Object:  Database [Shopping]    Script Date: 4/1/2023 8:47:22 PM ******/
CREATE DATABASE [Shopping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shopping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shopping.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shopping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Shopping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shopping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shopping]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTietDh] [int] IDENTITY(1,1) NOT NULL,
	[MaDh] [int] NULL,
	[MaSp] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaTien] [float] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietDh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaYt] [int] IDENTITY(1,1) NOT NULL,
	[SoSao] [int] NULL,
	[MaSp] [int] NULL,
	[MaKh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDh] [int] IDENTITY(1,1) NOT NULL,
	[TenKh] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
	[NgayMua] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[MaKh] [int] NULL,
	[MaTt] [int] NULL,
	[MaVc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [int] IDENTITY(1,1) NOT NULL,
	[TenKh] [nvarchar](100) NULL,
	[TenTk] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNcc] [int] IDENTITY(1,1) NOT NULL,
	[TenNcc] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNcc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomSanPham]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSanPham](
	[MaNhomSp] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomSp] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[MaQt] [int] IDENTITY(1,1) NOT NULL,
	[TenQt] [nvarchar](100) NULL,
	[TaiKhoan] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuangCao]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuangCao](
	[MaQc] [int] IDENTITY(1,1) NOT NULL,
	[TenQc] [nvarchar](100) NULL,
	[Anh] [nvarchar](max) NULL,
	[Gia] [float] NULL,
	[NhaSanXuat] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSp] [int] IDENTITY(1,1) NOT NULL,
	[TenSp] [nvarchar](100) NULL,
	[Anh] [nvarchar](max) NULL,
	[Gia] [float] NULL,
	[MaNcc] [int] NULL,
	[Mota] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[MaNhomSp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaTt] [int] IDENTITY(1,1) NOT NULL,
	[TenTt] [nvarchar](100) NULL,
	[Mota] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UaThich]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UaThich](
	[MaUt] [int] IDENTITY(1,1) NOT NULL,
	[MaKh] [int] NULL,
	[MaSp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VanChuyen]    Script Date: 4/1/2023 8:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanChuyen](
	[MaVc] [int] IDENTITY(1,1) NOT NULL,
	[TenVc] [nvarchar](100) NULL,
	[Gia] [float] NULL,
	[Mota] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTietDh], [MaDh], [MaSp], [SoLuong], [GiaTien], [TrangThai]) VALUES (1, 1, 1, 1, 1000000, 1)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDh], [MaDh], [MaSp], [SoLuong], [GiaTien], [TrangThai]) VALUES (2, 2, 1, 2, 1000000, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDh], [TenKh], [Email], [DiaChi], [SoDienThoai], [TongTien], [NgayMua], [TrangThai], [MaKh], [MaTt], [MaVc]) VALUES (1, N'kha', N'khadang1233@gmai.com', N'25a', N'1234567890', 1030000, N'2023-04-01 18:14:04.718', 1, 1, 1, 1)
INSERT [dbo].[DonHang] ([MaDh], [TenKh], [Email], [DiaChi], [SoDienThoai], [TongTien], [NgayMua], [TrangThai], [MaKh], [MaTt], [MaVc]) VALUES (2, N'kha', N'khadang1233@gmai.com', N'25a', N'1234567890', 2050000, N'2023-04-01 18:42:56.171', 1, 1, 1, 2)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [TenTk], [MatKhau], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (1, N'kha', N'kha', N'12345678', N'25a', 1234567890, N'khadang1233@gmai.com', 1)
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [TenTk], [MatKhau], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (2, N'phat', N'phat', N'12345678', N'25b', 1234567890, N'phatphat', 1)
INSERT [dbo].[KhachHang] ([MaKh], [TenKh], [TenTk], [MatKhau], [DiaChi], [SoDienThoai], [Email], [TrangThai]) VALUES (3, N'vi', N'vi', N'12345678', N'24a', 1234567892, N'vivi', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNcc], [TenNcc], [TrangThai]) VALUES (1, N'Mắt Kính Minh Hùng', 1)
INSERT [dbo].[NhaCungCap] ([MaNcc], [TenNcc], [TrangThai]) VALUES (2, N'Công Ty CP Đầu Tư Khải Hoàn Minh', 1)
INSERT [dbo].[NhaCungCap] ([MaNcc], [TenNcc], [TrangThai]) VALUES (3, N'Kính Thuốc Đồng Tiến Optic', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomSanPham] ON 

INSERT [dbo].[NhomSanPham] ([MaNhomSp], [TenNhomSp], [TrangThai]) VALUES (1, N'Kính Cận ', 1)
INSERT [dbo].[NhomSanPham] ([MaNhomSp], [TenNhomSp], [TrangThai]) VALUES (2, N'Kính Râm', 1)
INSERT [dbo].[NhomSanPham] ([MaNhomSp], [TenNhomSp], [TrangThai]) VALUES (3, N'Kính 3D', 1)
SET IDENTITY_INSERT [dbo].[NhomSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[QuanTri] ON 

INSERT [dbo].[QuanTri] ([MaQt], [TenQt], [TaiKhoan], [MatKhau], [TrangThai]) VALUES (1, N'Admin', N'admin', N'123456', 1)
SET IDENTITY_INSERT [dbo].[QuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[QuangCao] ON 

INSERT [dbo].[QuangCao] ([MaQc], [TenQc], [Anh], [Gia], [NhaSanXuat], [Mota], [TrangThai]) VALUES (1, N'Kinh 3D', N'/DoAn/views/img/product10.jpg', 1000000, N'Kính Thuốc Đồng Tiến Optic', N'Mẫu Kinh mới', 1)
INSERT [dbo].[QuangCao] ([MaQc], [TenQc], [Anh], [Gia], [NhaSanXuat], [Mota], [TrangThai]) VALUES (2, N'Kính Cận', N'/DoAn/views/img/product09.jpg', 1000000, N'Mắt Kính Minh Hùng', N'Bảo vệ mắt', 1)
SET IDENTITY_INSERT [dbo].[QuangCao] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSp], [TenSp], [Anh], [Gia], [MaNcc], [Mota], [TrangThai], [MaNhomSp]) VALUES (1, N'Kính Cận', N'/DoAn/views/img/banner03.png', 1000000, 1, N'Kính đẹp chất lượng phụ hợp cho cả nam và nữ', 1, 1)
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [Anh], [Gia], [MaNcc], [Mota], [TrangThai], [MaNhomSp]) VALUES (2, N'Kính Cận', N'/DoAn/views/img/banner03.png', 1000000, 1, N'Kính đẹp chất lượng phụ hợp cho cả nam và nữ', 1, 1)
INSERT [dbo].[SanPham] ([MaSp], [TenSp], [Anh], [Gia], [MaNcc], [Mota], [TrangThai], [MaNhomSp]) VALUES (3, N'Kính Cận', N'/DoAn/views/img/banner03.png', 1000000, 1, N'Kính đẹp chất lượng phụ hợp cho cả nam và nữ', 1, 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaTt], [TenTt], [Mota], [TrangThai]) VALUES (1, N'Thanh toán bằng thẻ tín dụng', N'Bạn có thể trả phí trực tiếp thông qua số tài khoản ATM', 1)
INSERT [dbo].[ThanhToan] ([MaTt], [TenTt], [Mota], [TrangThai]) VALUES (2, N'Thanh toán trực tiếp', N'Bạn có thể trả phí khi nhận được hàng', 1)
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[UaThich] ON 

INSERT [dbo].[UaThich] ([MaUt], [MaKh], [MaSp]) VALUES (1, 1, 1)
INSERT [dbo].[UaThich] ([MaUt], [MaKh], [MaSp]) VALUES (2, 1, 1)
INSERT [dbo].[UaThich] ([MaUt], [MaKh], [MaSp]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[UaThich] OFF
GO
SET IDENTITY_INSERT [dbo].[VanChuyen] ON 

INSERT [dbo].[VanChuyen] ([MaVc], [TenVc], [Gia], [Mota], [TrangThai]) VALUES (1, N'Viettel port', 30000, N'Giao Hàng từ 5 - 10 ngày', 1)
INSERT [dbo].[VanChuyen] ([MaVc], [TenVc], [Gia], [Mota], [TrangThai]) VALUES (2, N'Speed Method', 50000, N'Giao Hàng từ 3 - 5 ngày', 1)
INSERT [dbo].[VanChuyen] ([MaVc], [TenVc], [Gia], [Mota], [TrangThai]) VALUES (3, N'Go Viet', 70000, N'Giao Hàng từ 1 - 3 ngày', 1)
SET IDENTITY_INSERT [dbo].[VanChuyen] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDh])
REFERENCES [dbo].[DonHang] ([MaDh])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSp])
REFERENCES [dbo].[SanPham] ([MaSp])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([MaSp])
REFERENCES [dbo].[SanPham] ([MaSp])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTt])
REFERENCES [dbo].[ThanhToan] ([MaTt])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaVc])
REFERENCES [dbo].[VanChuyen] ([MaVc])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNcc])
REFERENCES [dbo].[NhaCungCap] ([MaNcc])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNhomSp])
REFERENCES [dbo].[NhomSanPham] ([MaNhomSp])
GO
ALTER TABLE [dbo].[UaThich]  WITH CHECK ADD FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[UaThich]  WITH CHECK ADD FOREIGN KEY([MaSp])
REFERENCES [dbo].[SanPham] ([MaSp])
GO
USE [master]
GO
